{% extends "base_page.html" %}

{% block page-title %}
<div class="mb-4 bg-light border rounded" id="title-box">
            <div class="bg-image text-dark" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/52/United_Kingdom_Flag_Background.svg');">
                <div class="container-fluid py-5 p-5">
                    <h1 class="display-1 fw-bold">
Английский эвридей
</h1>
                    <p class="col-md-8 fs-4">
Cтанет незаменимым в изучении английского <br/>
</p>
                </div>
            </div>
        </div>
{% endblock %}


{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Что может помощник 👇</h2>
    <div class="row g-4 py-5 row-cols-2 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Свой словарик 🇬🇧</h3>
                <p>Посмотрите или повторите пройденные слова.</p>
                <a href="/terms-list" class="btn btn-primary">Открыть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Новые слова? 🗣</h3>
                <p>Добавьте в свой словарик!</p>
                <a href="/add-term" class="btn btn-primary">
                    Записать
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Статистика 📊 </h3>
                <p> Как продвижение?</p>
                <a href="/stats" class="btn btn-primary">
                    Посмотреть
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Планнер 📓</h3>
                <p>Посмотреть список заданий.
                </p>
                <a href="/tasks-list" class="btn btn-primary">Открыть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Добавить задание 📌</h3>
                <p>Чтобы ничего не забыть!</p>
                <a href="/add-task" class="btn btn-primary">
                    Записать
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Прогресс 📈 </h3>
                <p> Сколько заданий выполнено?</p>
                <a href="/progress" class="btn btn-primary">
                    Посмотреть
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
