{% extends "base_page.html" %}

{% block page-title %}
Прогресс по заданиям 📈
{% endblock %}

{% block page-lead %}
Сколько заданий уже выполнено! Дальше – больше!
{% endblock %}


{% block content %}
<div class="container px-4 py-5" id="stats">
    <div>
        <h3 class="py-2">Количество выполненных заданий</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h4>{{ terms_all }}</h4>
            <p class="text-muted">всего</p>
        </div>
        <div class="col-md-4">
            <h4>{{ terms_own }}</h4>
            <p class="text-muted">изначально бывших в базе</p>
        </div>
        <div class="col-md-4">
            <h4>{{ terms_added }}</h4>
            <p class="text-muted">добавленных через <a href="/add-task">форму добавления задания</a></p>
        </div>
    </div>
</div>
{% endblock %}

